UILD_TYPE = DEBUG
//WALLET_HOST_URL =
VERIFIER_API_URI = https:/$()/oid4vc-verifier-endpoint-hono.g-trustedweb.workers.dev
VERIFIER_LEGAL_NAME = EUDI Verifier
VCI_ISSUER_URL = https:/$()/issuer.g-trustedweb.workers.dev
//VCI_ISSUER_URL = https:/$()/dev.issuer.eudiw.dev
VCI_CLIENT_ID = tw24.wallet.dentsusoken.com
//VCI_CLIENT_ID = wallet-dev
VCI_REDIRECT_URI = eudi-openid4ci:/$()/authorize/
CORE_USER_AUTH = false
